/* form  */

.form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.label {

    display: block;
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.input {
    width: 100%;
    height: 40px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #212121;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__wrapper {
            position: relative;
            margin-bottom: 10px;
        }
    
    &__icon {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &:focus {
            border-color: var(--accent-color);
        }
    
    &:focus + .input__icon {
            fill: var(--accent-color);
        }
    
    &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
}


.field {
    padding-left: 45px;
}

.textarea {
    margin-bottom: 20px;
    height: 120px;
    resize: none;
}


.check {
    &__label {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }

    &__wrapp {
        margin-right: 9px;
        display: flex;
        align-items: center;
        border: 2px solid #212121;
        border-radius: 2px;
        width: 16px;
        height: 15px;
    }

    &__icon {
        opacity: 0;
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        bottom: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    &__input {
    &:checked + .check__wrapp {
            border: none;}
    }

    &__input:checked + .check__wrapp {
        .check__icon {
        opacity: 1;}
    }
    
    &__link {
            color: var(--accent-color);
            text-decoration: underline;
        }
}



.icon-send {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.follow__input {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border-color: #FFFFFF4D;
    color: var(--white-text-color);
    margin-right: 12px;
}