/* modal window */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);

}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    padding: 40px;
    position: absolute;
    width: 528px;
    top: 50%;
    left: 50%;
    background-color: var(--white-text-color);
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}


/* modal window end */